name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: 23
          distribution: temurin

      - name: Build CLI
        run: mvn clean package -pl migrator-cli -am

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: migrator-cli/target/*-shaded.jar
